*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Montserrat', sans-serif;
  font-weight:200;
  font-size:1.2em;

  margin-bottom:500px;
}

/* ===== HEADER ===== */

.header{
  display:grid;
  grid-template-columns:1fr 2fr;
  border:1px solid black;
}

.logo{
  padding:30px;
  border-right:1px solid black;

  display:flex;
  justify-content:center;
  align-items:center;
}

.nav{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.menu,
.suggest{
  padding:30px;
  border-right:1px solid black;

  display:flex;
  align-items:center;
}

.nav div:last-child{
  border-right:none;
}

/* ===== HERO ===== */

.hero{
  height:270px;

  display:flex;
  justify-content:center;
  align-items:center;

  border-bottom:1px solid black;
}

.hero h1{
  font-size:18px;
  font-weight:300;
  letter-spacing:1px;
}

/* ===== CONTENT ===== */

.content{
  display:grid;
  grid-template-columns:1fr 2fr;
  /* border-bottom:1px solid black; */
}

.left{
  border-right:1px solid black;
  /* border-bottom:none; */
}

.text{
  padding:40px;
  border-bottom:1px solid black;
}

.text ul{
  margin-left:30px;
  list-style:square;
}

/* ===== NOTICE ===== */

.notice{
  display:grid;
  grid-template-columns:1fr 2fr;
  /* border-bottom:1px solid black; */
}

.notice-text{
  padding:30px 0px 30px 40px;
  display:flex;
  align-items:center;
  border-bottom:1px solid black;
}

/* ===== FEATURES COST ===== */

.features-cost{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  /* border-bottom:1px solid black; */
}

.features{
  padding:40px;
  border-right:1px solid black;
  border-bottom:1px solid black;
}

.cost{
  padding:40px;
  border-bottom:1px solid black;
}

.features ul{
  margin-left:30px;
  margin-top:20px;
  list-style:square;
}

/* ===== FOOTER ===== */

.footer{
  display:grid;
  grid-template-columns:1fr 2fr;
  border-bottom:1px solid black;
}

.footer-text{
  padding:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}